{% extends "base.html.twig" %}

{% block title %}La pizza {{ pizza.nom }}{% endblock %}

{% block titrePage %}La pizza {{ pizza.nom }}{% endblock %}

{% block body %}
    Prix de la fabrication : {{ pizza.cout }}
    Ingrédients :
    <ul>
        {% for ingredient in pizza.quantiteIngredients %}
            <li>{{ ingredient }}</li>
        {% endfor %}
    </ul>
{% endblock %}